.header__square-pic {
    background-color: #2F80ED;
    height: 568px;
    width: 568px;
    align-self: center;
    position: absolute;
    top: 64px;
    right: 0px;
    animation: rotation 20s linear infinite;
}