.resources__logo {
    width: 270px;
    height: 38px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    opacity: 1;
    transition: opacity ease 2s;
}

.resources__logo:hover {
    opacity: 0.5;
}